<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mh.web.security.mapper.TbAuthMapper">
    <select id="findAll"  resultType="com.mh.web.security.model.TbAuth">
        SELECT * from tb_auth ;
    </select>

    <select id="findByAdminUserId" parameterType="int" resultType="com.mh.web.security.model.TbAuth">
        select ta.*
        from tb_user a
        left join tb_user_role tur on a.user_id = tur.user_id
        left join tb_role b on tur.role_id = b.role_id
        left join tb_role_auth tra on b.role_id = tra.role_id
        left join tb_auth ta on tra.auth_id = ta.auth_id
        where a.user_id = #{userId}
    </select>
</mapper>
