<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mh.web.security.mapper.TbAuthMapper">
    <select id="findAll"  resultType="com.mh.web.security.model.TbAuth">
        SELECT * from tb_auth order by level desc
    </select>

    <select id="findAuthsByUserId" parameterType="int" resultType="com.mh.web.security.model.TbAuth">
        select ta.*
        from tb_user a
        left join tb_user_role tur on a.id = tur.user_id
        left join tb_role b on tur.role_id = b.id
        left join tb_role_auth tra on b.id = tra.role_id
        left join tb_auth ta on tra.auth_id = ta.id
        where a.id = #{userId}
    </select>

    <select id="findAuthsByUserName" parameterType="String" resultType="com.mh.web.security.model.TbAuth">
        select ta.*
        from tb_user a
        left join tb_user_role tur on a.id = tur.user_id
        left join tb_role b on tur.role_id = b.id
        left join tb_role_auth tra on b.id = tra.role_id
        left join tb_auth ta on tra.auth_id = ta.id
        where a.username = #{username}
    </select>
</mapper>
