<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mh.web.security.mapper.TbUserRoleMapper">

    <select id="getAllUsersWithRole" parameterType="String" resultType="com.mh.web.security.vo.userItem">
                select a.id    as id,
                       a.username   as username,
                       a.password   as password,
                       a.gmt_Create as gmtCreate,
                       a.gmt_modified as gmtModified,
                       a.nick_Name         as nickName,
                       a.deleted          as deleted,
                       a.salt           as salt,
                       a.token           as token,
                       group_concat(c.role_Name)      as roleName
                from tb_user a
                left join tb_user_role b on a.id = b.user_id
                left join tb_role c on b.role_id = c.id
                where 1=1
                <if test="username!=null and username.trim()!=''">
                    and a.username like #{username}
                </if>
                group by a.id
    </select>

    <select id="selectByUserId" parameterType="Int" resultType="String">
        select group_concat(a.role_id)
        from tb_user_role a
        where 1=1
        <if test="userId!=null">
            and a.user_id = #{userId}
        </if>
    </select>


</mapper>
